* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

/*Barra de navegación*/
.navbar {
    background: black;
    width: 100%;
    height: 30px;
    padding: 7px;
    text-align: right;
}

.navbar-item a{
    color: white;
}

.navbar-item{
    display: inline-block;
    font-size: 1.4rem;
    list-style: none;
    margin-right: 6px;
}


/*Slider de peliculas principales*/
.slider-movies {
    /* height: 100%;
    width: 100%;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    display: flex; 
    scroll-snap-type: x proximity; */
    width: 100%;
    height: 181px;
    overflow: hidden;
}

.slider-title{
    color: white;
}

.slider-items {
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 300%;
}

.slider-img {
    /* position: relative;
    scroll-snap-align: center;*/
    width: 350px; 
    height: 100%;
    list-style: none;
}

.item-img {
    width: 100%;
    height: 100%;
}

.main-container--slider{
    background: black;
}

/*Seccion de destacados*/
.destacados-title{
    text-align: center;
    margin-top: 25px;
} 

.movie-container--slider {
    display: flex;
    height: 416px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.movie-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 90%;
    min-width: 190px;
    max-width: 420px;
    height: 370px;
    margin: 30px 10px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.cards-title {
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.cards-parrafo {
    font-size: 1.2rem;
    margin-top: 10px;
}

.cards-title {
    margin-top: 15px;
    text-align: center;
}

.img-card {
    width: 150px;
    height: 170px;
    margin-left: 7px;
    border-radius: 6px;
}

/*Seccion categorias*/
.categorias-title {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.catagorias-container{
    display: inline;
    margin: 2px;
}

.container-name--categoria {
    display: inline-block;
    background: #C3C3C3;
    padding: 5px;
    border-radius: 8px;
    margin: 1px;
    border: none;
}

/*Animación de slider*/
@keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

/*Animacion bonton buscar*/
.container-name--categoria:hover {
    background: #9C9C9C;
}